@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: auto !important;

    margin: 0;
    font-family: ysans, sans-serif;
    font-size: 1em;

    padding-bottom: 30px;

    @apply px-3;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

p {
    margin-bottom: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* purgecss start ignore */
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/* purgecss end ignore */

@font-face {
    font-family: ysans;
    font-weight: 400;
    font-display: swap;
    src: url(/static/media/text-regular.woff2) format("woff2"), url(/static/media/text-regular.woff) format("woff")
}

@font-face {
    font-family: ysans;
    font-weight: 500;
    font-display: swap;
    src: url(/static/media/text-medium.woff2) format("woff2"), url(/static/media/text-medium.woff) format("woff")
}

@font-face {
    font-family: ysans;
    font-weight: 700;
    font-display: swap;
    src: url(/static/media/text-bold.woff2) format("woff2"), url(/static/media/text-bold.woff) format("woff")
}

@font-face {
    font-family: "ysans-serif";
    src: url(/static/media/serif.woff2) format("woff2"), url(/static/media/serif.woff) format("woff");
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
strong {
    font-family: "ysans-serif" !important;
}

h1 {
    @apply text-xl my-3;
}


.height1px {
    height: 1px;
}

#sidebar {
    will-change: min-height;
}

.sidebar__inner {
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
    position: relative;
}

.tagWrap {
    @apply flex flex-wrap text-xs w-full;
}

.tagItem {
    @apply mr-1 w-full rounded-md px-2 py-2 mb-1 transition flex items-center;
}

.tagImage {
    @apply flex-shrink-0 rounded-lg w-10 h-10 shadow-lg bg-cover mr-4 border border-gray-200;
}

.tagDesc {
    @apply text-gray-700 overflow-hidden overflow-ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tagItem:hover {
    @apply cursor-pointer;
    background: rgba(32,35,51,.07);
}


.leftMenuItemActive,
.leftMenuItem:hover {
    background: rgba(32,35,51,.07);
}

.leftMenuItem:active {
    @apply scale-95 opacity-75;
}

.leftMenuItem {
    @apply mb-2 py-2 px-2 rounded-full inline-flex items-center cursor-pointer transform select-none transition-all duration-200;
}


.leftMenuText {
    @apply hidden xl:block;
}

.MenuContainerFixed {
    @apply fixed h-full text-center;
    width: 50px;
}

.MenuContainer {
    @apply relative hidden;
    width: 50px;
}

#content {
    @apply w-full md:px-5 lg:px-8 xl:px-10;
}

#sidebar {
}

#MainContainer {
    @apply w-full pt-3;
}

@screen sm {
    #content {
    }
}

@screen md {
    #content {
        width: 600px;
    }

    .MenuContainer {
        @apply block;
    }

    #sidebar {
        width: 250px;
        min-width: 250px;
    }

    body, html {
        @apply px-0;
    }

    #MainContainer {
        @apply flex flex-1 justify-center;
    }
}

@screen lg {
    #content {
        width: 650px;
    }

    #sidebar {
        width: 300px;
        min-width: 300px;
    }
}


@screen xl {
    .MenuContainer, .MenuContainerFixed {
        width: 200px;
        @apply text-left;
    }

    .leftMenuItem {
        @apply w-full text-lg font-medium px-4;
    }

    #content {
        width: 700px;
    }
}

