<svg xmlns="http://www.w3.org/2000/svg" class="absolute pointer-events-none w-0 h-0 invisible">
    <filter id="duotone-one">
        <feColorMatrix type="matrix" result="grayscale" values="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0">
        </feColorMatrix>
        <feComponentTransfer color-interpolation-filters="sRGB" result="duotone">
            <feFuncR type="table" tableValues="0.27058823529411763 1"></feFuncR>
            <feFuncG type="table" tableValues="0.30980392156862746 0.807843137254902"></feFuncG>
            <feFuncB type="table" tableValues="0.5137254901960784 0.8901960784313725"></feFuncB>
            <feFuncA type="table" tableValues="0 1"></feFuncA>
        </feComponentTransfer>
    </filter>
</svg>

<div class="ArticlePreview mt-2">
    <div class="item">
        <div class="bg-cover w-full h-full" style="background-image: url('{{ card.og_image }}');">
        </div>
    </div>
    <div class="shade"></div>
    <div class="info pl-4 md:pl-5">
        <h1 class="title pr-4 md:pr-8">{{ card.title }}</h1>
        <div class="flex flex-1 justify-between items-center mt-4 text-xs">
            <div class="tags">
                <a>Спорт</a>
                <a>Наука</a>
            </div>
            <div class="dateViews">
                {{ card.full_date_str() }}&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;<svg viewBox="0 0 16 16"
                    class="inline-block" width="16" height="16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0 8.003c0-1.8 2.857-6 8-6s8 4.2 8 6c0 1.8-2.857 6-8 6s-8-4.2-8-6zm2 0c0 .362.546 1.377 1.44 2.217 1.193 1.12 2.75 1.783 4.56 1.783 1.81 0 3.367-.663 4.56-1.783.894-.84 1.44-1.855 1.44-2.217 0-.362-.546-1.377-1.44-2.218C11.366 4.665 9.81 4.003 8 4.003c-1.81 0-3.367.663-4.56 1.782C2.547 6.625 2 7.641 2 8.003zm8.3 0a2.3 2.3 0 1 1-4.6 0 2.3 2.3 0 0 1 4.6 0z"
                        fill="hsla(0, 0%, 100%, .5)"></path>
                </svg>
                &nbsp;&nbsp;50.7 K
            </div>
        </div>
    </div>
</div>

<div class="flex my-3 items-center">
    <div class="height1px w-full flex-grow bg-gray-400"> </div>
    <div class="flex flex-shrink-0 items-center px-2">
        <img class="w-4" src="/static/media/demostration.svg">
    </div>
    <div class="height1px w-full flex-grow bg-gray-400"> </div>
</div>

<div class="ArticleContent leading-tight">
    {{ card.html|safe }}
</div>