/* purgecss start ignore */

.ArticleContent img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.ArticleContent blockquote,
.ArticleContent iframe,
.ArticleContent figure {
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
}

.ArticlePreview {
    @apply relative w-full inline-block h-64;
}

.ArticlePreview .info {
    @apply w-full absolute left-0 bottom-0 text-white pb-6 leading-tight;
}

.ArticlePreview .title {
    @apply font-bold text-2xl;
}

.ArticlePreview .tags a {
    @apply py-1 px-3 mr-1 border-solid border rounded-2xl;
    border-color: rgba(255, 255, 255, 0.25);
}

.ArticlePreview .dateViews {
    @apply pr-6 text-sm tracking-tight items-center flex;
    color: hsla(0, 0%, 100%, .5);
}

.ArticlePreview .shade {
    @apply absolute w-full h-full left-0 top-0 right-0 bottom-0 rounded-xl;
    opacity: 0.8;
    background: linear-gradient(rgba(10, 63, 124, 0), rgb(8, 19, 113));
}

.ArticlePreview .item {
    @apply w-full h-64 inline-block overflow-hidden relative rounded-xl;
    background-color: rgb(248, 227, 172);
    filter: url('#duotone-one');
}

/* purgecss end ignore */