{% include "media/svg_filters.svg" %}

<div class="ArticlePreview mt-2">
    <div class="item">
        <div class="bg-cover w-full h-full" style="background-image: url('{{ card.og_image }}');">
        </div>
    </div>
    <div class="shade"></div>
    <div class="info pl-4 md:pl-5">
        <h1 class="title pr-4 md:pr-8">{{ card.title }}</h1>
        <div class="flex flex-1 justify-between items-center mt-4 text-xs">
            <div class="tags">
                <a>Спорт</a>
                <a>Наука</a>
            </div>
            <div class="dateViews">
                {{ card.full_date_str() }}&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
                {% include "media/eye.svg" %}
                &nbsp;&nbsp;50.7 K
            </div>
        </div>
    </div>
</div>

<div class="flex my-3 items-center">
    <div class="height1px w-full flex-grow bg-gray-400"> </div>
    <div class="flex flex-shrink-0 items-center px-2">
        <img class="w-4" src="/static/media/demostration.svg">
    </div>
    <div class="height1px w-full flex-grow bg-gray-400"> </div>
</div>

<div class="ArticleContent leading-tight">
    {{ card.html|safe }}
</div>