<div class="Article">
    <amp-img alt="HubLoid" height="60px" src="/static/media/logo.svg" width="150px"></amp-img>
    <h1 class="title pr-4 md:pr-8">{{ title }}</h1>
    <a href="/{{ category | lower }}/">{{ category_name(category=category) }}</a>
    {{ date['$date'] | date(format="%d %b %H:%M",timezone="Europe/Kiev") }}&nbsp;&nbsp;&nbsp;
    <div class="ArticleContent leading-snug">
        {{ html | safe }}
    </div>
</div>