@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: auto !important;

    margin: 0;
    font-family: ysans, sans-serif;
    font-size: 1em;

    padding-bottom: 30px;

    @apply px-1 overflow-x-hidden;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

p {
    margin-bottom: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* purgecss start ignore */
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/* purgecss end ignore */

@font-face {
    font-family: ysans;
    font-weight: 400;
    font-display: swap;
    src: url(/static/media/text-regular.woff2) format("woff2"), url(/static/media/text-regular.woff) format("woff")
}

@font-face {
    font-family: ysans;
    font-weight: 500;
    font-display: swap;
    src: url(/static/media/text-medium.woff2) format("woff2"), url(/static/media/text-medium.woff) format("woff")
}

@font-face {
    font-family: ysans;
    font-weight: 700;
    font-display: swap;
    src: url(/static/media/text-bold.woff2) format("woff2"), url(/static/media/text-bold.woff) format("woff")
}

@font-face {
    font-family: "ysans-serif";
    src: url(/static/media/serif.woff2) format("woff2"), url(/static/media/serif.woff) format("woff");
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
strong {
    font-family: "ysans-serif" !important;
}

h1 {
    @apply text-lg my-3;
}


.height1px {
    height: 1px;
}

#sidebar {
    will-change: min-height;
}

.sidebar__inner {
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
    position: relative;
}

.tagWrap {
    @apply flex flex-wrap text-xs w-full;
}

.tagItem {
    @apply mr-1 w-full rounded-md px-2 py-2 mb-1 transition flex items-center;
}

.tagImage {
    @apply flex-shrink-0 rounded-lg w-10 h-10 shadow-lg bg-cover mr-4 border border-gray-200;
}

.tagDesc {
    @apply text-gray-700 overflow-hidden overflow-ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tagItem:hover {
    @apply cursor-pointer bg-gray-100;
}

.menuRows {
    @apply flex md:justify-center justify-around border-gray-200 border-t border-b;
}


.leftMenuItemActive,
.leftMenuItem:hover {
    color: #cda877 !important;
}

.leftMenuItem:active {
    @apply scale-95 opacity-75;
}

.leftMenuItem {
    @apply py-2 px-1 md:px-4 text-sm font-medium rounded-full inline-flex  items-center cursor-pointer transform select-none transition-all duration-200 text-gray-600;
    font-family: "ysans-serif" !important;
}




.MenuContainer {
    @apply relative  w-full;
}

#content {
    @apply w-full px-1 md:pr-4 lg:pr-8;
}

#sidebar {
}

#MainContainer {
    @apply w-full;
}

@screen sm {
    #content {
    }
}

@screen md {
    #content {
        width: 600px;
    }


    #sidebar {
        width: 250px;
        min-width: 250px;
    }

    body, html {
        @apply px-0;
    }

    #MainContainer {
        @apply flex flex-1 justify-center;
    }
}

@screen lg {
    #content {
        width: 650px;
    }

    #sidebar {
        width: 300px;
        min-width: 300px;
    }
}


@screen xl {
    #content {
        width: 700px;
    }
}

