@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: auto !important;

    margin: 0;
    font-family: ysans, sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

p {
    margin-bottom: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: ysans;
    font-weight: 400;
    font-display: swap;
    src: url(/static/media/text-regular.woff2) format("woff2"), url(/static/media/text-regular.woff) format("woff")
}

@font-face {
    font-family: ysans;
    font-weight: 500;
    font-display: swap;
    src: url(/static/media/text-medium.woff2) format("woff2"), url(/static/media/text-medium.woff) format("woff")
}

@font-face {
    font-family: ysans;
    font-weight: 700;
    font-display: swap;
    src: url(/static/media/text-bold.woff2) format("woff2"), url(/static/media/text-bold.woff) format("woff")
}

@font-face {
    font-family: "ysans-serif";
    src: url(/static/media/serif.woff2) format("woff2"), url(/static/media/serif.woff) format("woff");
    font-weight: 900;
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
strong {
    font-family: "ysans-serif";
}

.leftMenuItemActive,
.leftMenuItem:hover {
    background-color: white;
}

.leftMenuItem:active {
    @apply scale-95 opacity-75;
}

.leftMenuItem {
    @apply mb-2 w-5/6 text-lg font-medium py-2 px-4 rounded-full inline-flex items-center cursor-pointer transform select-none transition-all duration-200;
}

.height1px {
    height: 1px;
}