{% extends "layouts/layout_amp.tera" %}
{% block meta %}
    <title>{{ article_name | escape }} ➤ HubLoid</title>
    <link href="{{ PROJECT_DOMAIN }}{{ make_card_url(card=card, is_amp=false) }}" rel="canonical"/>
{% endblock %}
{% block center_column %}
    {% if center_content %}
        {{ center_content | safe }}
    {% endif %}
    {% if right_content %}
        {{ right_content | safe }}
    {% endif %}
{% endblock %}