<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/media/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    {% if query_string_meta is defined %}
        {{ query_string_meta }}
    {% endif %}
    <link href="/static/css/main.css?v=3" rel="stylesheet">
</head>

<body>
    {% block after_body %}{% endblock after_body %}

    <div id="SvelteRunningLine" style="min-height: 28px;"></div>
    <div id="MainContainer" class="stickycontainer">
        <div class="MenuContainerMobile md:hidden h-16 flex items-center font-bold text-lg mb-3">
            <a href="/" class="h-4/6 w-full">
                <img class="h-full" alt="HubLoid" src="/static/media/logo.svg">
            </a>
        </div>
        <div class="MenuContainer">
            <div class="MenuContainerFixed">
                <div class="relative h-full w-full">
                    {% include "parts/menu.tera" %}
                    {% block left_column %}{% endblock left_column %}
                </div>
            </div>
        </div>
        <div id="content">
            {% block center_column %}{% endblock center_column %}
        </div>
        <div id="sidebar">
            <div class="sidebar__inner">
                {% block right_column %}{% endblock right_column %}
            </div>
        </div>
    </div>

    <script async src="/bundle.js?v=5"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6YLXEFT0BQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-6YLXEFT0BQ');
    </script>
</body>

</html>