<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/media/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>

    <div class="flex flex-1 stickycontainer justify-center pt-3">
        <div class="hidden lg:block relative" style="width: 260px">
            <div class="fixed h-full" style="width: 260px">
                <div class="relative h-full w-full">
                    {% include "parts/menu.tera" %}
                    {% block left_column %}{% endblock left_column %}
                </div>
            </div>
        </div>
        <div id="content" class="px-10" style="width: 700px !important">
            {% block center_column %}{% endblock center_column %}
        </div>
        <div id="sidebar" style="width: 300px">
            <div class="sidebar__inner">
                {% block right_column %}{% endblock right_column %}
            </div>
        </div>
    </div>

    <script src="/static/js/sticky-sidebar.min.js"></script>
    <script src="/static/js/instant.page.js"></script>
    <script src="/static/js/ResizeSensor.js"></script>
    <script type="text/javascript">
        var sidebar = new StickySidebar('#sidebar', {
            containerSelector: '.stickycontainer',
            innerWrapperSelector: '.sidebar__inner',
            minWidth: 800
        });
    </script>
</body>

</html>