/* purgecss start ignore */

.ArticleContent img {
    @apply w-full rounded-lg mx-auto;
}

.ArticleContent table {
    width: 100%;
}

.ArticleContent blockquote,
.ArticleContent iframe,
.ArticleContent figure {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.ArticleContent iframe {
    @apply w-full rounded-lg;
}

.h-68 {
    height: 20rem;
}

.ArticlePreview {
    @apply relative w-full inline-block h-68;
}

.ArticlePreview .info {
    @apply w-full absolute left-0 bottom-0 text-white pb-6 leading-tight;
}

.ArticlePreview .title {
    @apply font-bold text-2xl;
}

.ArticlePreview .category a {
    @apply py-1 px-3 mr-1 border-solid border rounded-2xl cursor-pointer transition;
    border-color: rgba(255, 255, 255, 0.25);
}

.ArticlePreview .category a:hover {
    border-color: rgba(255, 255, 255, 0.45);
}

.ArticlePreview .dateViews {
    @apply pr-6 text-sm tracking-tight items-center flex;
    color: hsla(0, 0%, 100%, .5);
}

.ArticlePreview .shade {
    @apply absolute w-full h-full left-0 top-0 right-0 bottom-0 rounded-xl;
    /*opacity: 0.8;
    background: linear-gradient(rgba(10, 63, 124, 0), rgb(8, 19, 113));
    */
    opacity: 0.7;
    background: linear-gradient(rgba(12, 14, 53, 0), rgb(12, 14, 53));
}

.ArticlePreview .item {
    @apply w-full h-68 inline-block overflow-hidden relative rounded-xl;
    /*
    background-color: rgb(248, 227, 172);
    filter: url('#duotone-one');
    */

    background-color: rgb(255, 255, 255);
    filter: url('#duotone-zero');
}

/* purgecss end ignore */