<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>

    <div class="flex flex-1">
        <div class="w-3/12  relative">
            <div class="fixed h-full w-3/12 px-6 py-6">
                {% block left_column %}{% endblock %}
            </div>
        </div>
        <div class="w-6/12  p-6 py-3">
            {% block center_column %}{% endblock %}
        </div>
        <div class="w-3/12">
            {% block right_column %}{% endblock %}
        </div>
    </div>

</body>

</html>