{% extends "layouts/layout.tera" %}

{% block center_column %}

<h1>{{ title }}</h1>

<div style="background-image: url(/static/media/{{ category }}.jpg)" class="w-full h-48 bg-cover bg-center rounded-3xl my-3"></div>

{% if center_content %}
{{ center_content | safe }}
{% endif %}
{% endblock %}