{% extends "layouts/layout.tera" %}

{% block center_column %}

<div style="background-image: url(/static/media/society.jpg)" class="w-full h-32 bg-cover bg-center rounded-3xl my-3"></div>

{% if center_content %}
{{ center_content | safe }}
{% endif %}
{% endblock %}