{% extends "layouts/layout.tera" %}

{% block center_column %}

<h1>Популярные люди</h1>
<div class="tagWrap mt-3">
{% for tag in top_persons %}
    {% include "modules/tag_item/tpl.tera" %}
{% endfor %}
</div>

<h1>Популярные места</h1>
<div class="tagWrap mt-3">
{% for tag in top_organizations %}
    {% include "modules/tag_item/tpl.tera" %}
{% endfor %}
</div>

{% if center_content %}
{{ center_content | safe }}
{% endif %}
{% endblock %}