{% extends "layouts/layout.tera" %}

{% block center_column %}
<h1 class="my-3 mb-5">Теги новостей</h1>

{% include "modules/group_buttons/tpl.tera" %}

<hr class="mb-1" />

<div class="tagWrap">
{% for tag in tags %}
    {% include "modules/tag_item/tpl.tera" %}
{% endfor %}
</div>

{% endblock %}

{% block right_column %}
{% if right_content %}
{{ right_content | safe }}
{% endif %}
{% endblock %}