<!DOCTYPE html>
<html lang="ru">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192189246-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "UA-192189246-1");
        </script>
        <meta charset="UTF-8"/>
        <link href="/static/media/logo.png" rel="icon" type="image/svg+xml"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/> {% block meta %}{% endblock %}
        {% if query_string_meta is defined %}
            {{ query_string_meta }}
        {% endif %}
        <link href="/static/css/main.css?v={{ BUILD_VERSION }}" rel="stylesheet"/>
    </head>
    <body>
        {% block after_body %}{% endblock after_body %}
        <div class="MenuContainer">
            <div class="relative h-full w-full">
                {% include "parts/menu.tera" %}
                {% block left_column %}{% endblock left_column %}
            </div>
        </div>
        <div class="mt-2" id="SvelteRunningLine" style="min-height: 28px;"></div>
        <div class="stickycontainer" id="MainContainer">
            <div id="content"> {% block center_column %}{% endblock center_column %}
                </div>
                <div id="sidebar">
                    <div class="sidebar__inner">
                        <div id="SvelteCovid"></div>
                        {% block right_column %}{% endblock right_column %}
                    </div>
                </div>
            </div>
            <script async src="/bundle.js?v={{ BUILD_VERSION }}"></script>
        </body>
    </html>