{% if title.is_some() %}
<h1 class="text-lg mb-2">{{ title.as_ref().unwrap() }}</h1>
{% endif %}

<div class="GrayBorder text-sm md:p-3 md:px-4">

    {% for card in cards %}
    <div>
        <div class="mb-1 twoRows" title="{{ card.title }}">
            <a href="/general/{{ card._id }}_{{ card.slug }}">
                <span class="font-medium text-xs px-1 md:px-2 text-gray-600 bg-gray-200 rounded-full inline-block mr-1">
                    {{ card.time_str() }}
                </span>
                <span class="title">{{ card.title }}</span>
            </a>
        </div>
    </div>
    {% endfor %}

</div>