{% if title.is_some() %}
<h1 class="text-lg">{{ title.as_ref().unwrap() }}</h1>
{% endif %}

<div class="GrayBorder text-sm md:p-3 md:px-4">
    <div>
        <div class="mb-1 twoRows svelte-1u68qfg"
            title="Ермак рассказал западным послам о внешнем вмешательстве в принятие решений Конституционным судом">
            <a href="/read/5f9c4c3300737fec00728c7f"><span class="font-medium text-xs px-1 md:px-2 text-gray-600 bg-gray-200
    rounded-full inline-block mr-1">19:16</span> <span class="title">Ермак рассказал западным послам о
                    внешнем вмешательстве в принятие решений Конституционным судом</span></a></div>
    </div>
    <div><span class="font-medium text-gray-700"></span>
        <div class="mb-1 twoRows svelte-1u68qfg"
            title="В Украине установлены результаты выборов депутатов 64 местных советов и 84 сельских, поселковых, городских голов">
            <a href="/read/5f9c4e090019cf380072ab28"><span class="font-medium text-xs px-1 md:px-2 text-gray-600 bg-gray-200
    rounded-full inline-block mr-1">19:11</span> <span class="title">В Украине установлены результаты
                    выборов депутатов 64 местных советов и 84 сельских, поселковых, городских
                    голов</span></a></div>
    </div>
    <div><span class="font-medium text-gray-700"></span>
        <div class="mb-1 twoRows svelte-1u68qfg"
            title="Двоє людей загинули внаслідок наїзду автомобіля на Майдані Незалежності. Декілька людей отримали поранення внаслідок смертельної автопригоди на Хрещатику">
            <a href="/read/5f9c328700c3c66c0070f954"><span class="font-medium text-xs px-1 md:px-2 text-gray-600 bg-gray-200
    rounded-full inline-block mr-1">17:19</span> <span class="title">Двоє людей загинули внаслідок наїзду
                    автомобіля на Майдані Незалежності. Декілька людей отримали поранення внаслідок
                    смертельної автопригоди на Хрещатику</span></a></div>
    </div>
    <div><span class="font-medium text-gray-700"></span>
        <div class="mb-1 twoRows svelte-1u68qfg"
            title="Група депутатів Європарламенту закликала Україну заповнити «юридичну прогалину», що виникла після рішення КСУ">
            <a href="/read/5f9c2898009b93a400705e9a"><span class="font-medium text-xs px-1 md:px-2 text-gray-600 bg-gray-200
    rounded-full inline-block mr-1">16:01</span> <span class="title">Група депутатів Європарламенту
                    закликала Україну заповнити «юридичну прогалину», що виникла після рішення
                    КСУ</span></a></div>
    </div>
    <div><span class="font-medium text-gray-700"></span>
        <div class="mb-1 twoRows svelte-1u68qfg"
            title="Державна зрада та незаконне відчуження земельної ділянки на території Криму за законами РФ – ДБР розслідує кримінальне провадження відносно голови КСУ">
            <a href="/read/5f9c04ee004d9154006e29e3"><span class="font-medium text-xs px-1 md:px-2 text-gray-600 bg-gray-200
    rounded-full inline-block mr-1">14:13</span> <span class="title">Державна зрада та незаконне відчуження
                    земельної ділянки на території Криму за законами РФ – ДБР розслідує кримінальне
                    провадження відносно голови КСУ</span></a></div>
    </div>

</div>